<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('app') }}

        <!-- Renders a link tag (if your module requires any CSS)
             <link rel="stylesheet" href="/build/app.css"> -->
    {% endblock %}
</head>
<body>
<nav class="nav">
    <h1>Navigation</h1>
    <ul>
        <li><a href="{{ path('home') }}">Home</a></li>
        <li><a href="{{ path('user_show_all') }}">Users</a></li>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li><a href="{{ path('entry_show_all') }}">Your Entries</a></li>
            <li><a href="/logout">Logout</a></li>
        {% else %}
            <li><a href="{{ path('app_login') }}">Login</a></li>
            <li><a href="{{ path('app_register') }}">Register</a></li>
        {% endif %}
    </ul>
</nav>
<div class="wrapper">
    {% if message is defined %}
        <div class="message">{{ message }}</div>
    {% endif %}
    {% block body %}{% endblock %}
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}

    <!-- Renders app.js & a webpack runtime.js file
        <script src="/build/runtime.js"></script>
        <script src="/build/app.js"></script> -->
{% endblock %}
</body>
</html>
