{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
    <div class="input-fields">
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
    </div>
    <div class="actions">
        <button class="btn">Register</button>
    </div>
    {{ form_end(registrationForm) }}
{% endblock %}
