{% extends 'base.html.twig' %}

{% block title %}Hello BaseController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        {% if user is defined %}
            <h1>Hello {{ user.name }}</h1>
            <ul>
                <li>Email: {{ user.email }}</li>
                <li>Name: {{ user.name }}</li>
                <li>
                    Roles: {% for role in user.roles %}{{ role }}, {% endfor %}</li>
            </ul>
        {% else %}
            <h1>Hello {{ controller_name }}! ✅</h1>

            This friendly message is coming from:
            <ul>
                <li>Your controller at <code>
                        <a href="{{ '/var/www/html/src/Controller/BaseController.php'|file_link(0) }}">src/Controller/BaseController.php</a>
                    </code>
                </li>
                <li>Your template at <code>
                        <a href="{{ '/var/www/html/templates/base/index.html.twig'|file_link(0) }}">templates/base/index.html.twig</a>
                    </code>
                </li>
            </ul>
        {% endif %}
    </div>
{% endblock %}
