{% extends 'base.html.twig' %}

{% block title %}All Users{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Users</h1>
        <table>
            <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.email }}</td>
                    <td>{{ user.name }}</td>
                    <td>
                        {% for role in user.roles %}
                            {{ role }}
                        {% endfor %}
                    </td>
                    <td>
                        <ul>
                            <li><a href="/user/{{ user.id }}">View</a></li>
                            <li><a href="/user/delete/{{ user.id }}">Delete</a></li>
                            <li><a href="/user/edit/{{ user.id }}">Edit</a></li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
