{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Hello {{ user.name }}!</h1>
        <ul class="table-list">
            <li>Email: {{ user.email }}</li>
            <li>Name: {{ user.name }}</li>
            <li>Roles: {% for role in user.roles %}{{ role }}, {% endfor %}</li>
            <li>Actions: <a href="/user/delete/{{ user.id }}">Delete</a>, <a href="/user/edit/{{ user.id }}">Edit</a></li>
        </ul>
    </div>

    <a href="/users">Show all Users</a>
{% endblock %}
